.body{
  width: 100%;
  background-color:#fdcc52;
}

.navbar .nav-item .nav-link {
  margin-right: 25px;
}

.navbar {
    z-index: 1;
}
.navbar {
    background-color: transparent;
  }

hr {
 max-width:100px;
 margin:25px auto 0;
 border-width:5px;
 border-color:#6610f2;
}

.trainer .trainer-img {
	display: block;
	height: 140px;
	width: 140px;
	margin: 0 auto;
	border-radius: 50%;
}

.user-img, .classes-img, .trainer-img, .insta-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.masthead {
  position: relative;
  width: 100%;
  height: 50%;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/homepage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead-contact {
  position: relative;
  width: 100%;
  height: 50%;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead-services {
  position: relative;
  width: 100%;
  height: 50%;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/services.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead-about {
  position: relative;
  width: 100%;
  height: 50%;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

/*  for home buttom section */

section.buttom-sec{
  position: relative;
  width: 100%;
  height: 50%;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/Home-bt.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

  #contact.bg-primary {
	background: #fdcc52;
	background: linear-gradient(#fdcc52,#fdc539);
}

section.contact{
  text-align: center;
}



section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}



.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}


section.cta {
	position: relative;
	padding: 250px 0;
	background-image: url(../img/bg-cta.jpg);
	background-position: center;
	background-size: cover;
}

.about-section {
	padding-top: 10rem;
	background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%);
}
/* about Newsletter */
.newslatter-section {
    padding-top: 190px;
    padding-bottom: 100px;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }


.service-area {
	background: url(../img/bg-masthead.jpg) center;
	background-size: cover;
}

.single-service:hover {
	box-shadow: -14.142px 14.142px 20px 0px rgba(157,157,157,0.5);
	cursor: pointer;
}

.lead{
  text-align: center;
}

------------------- Card images ----------------

//* will come back to learn more about the below code

.card-img-top{
  object-fit: cover;
  aspect-ratio: 1/.7;

}
*//

-------------breadcumps-----------------
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef
    border-radius: .25rem;
}
div#001.section{
  padding-top: 100px
  padding-bottom: 100px;
}



-------------- This is my icons --------------


.bi-map{
  color: teal;
}

.bi-box{
  color: blue;
}

.bi-emoji-angry{
  color: #17a2b8;
}

.bi-phone{
  color: #17a2b8;
}
------------- End of icon settings ------------

------------- blockqoute settings -------------

.blockquote{
  border-radius: 5px;
  border-left: .25rem solid #6610f2;
}

------------- End of blockqute ------------------


::selection {
	background: #17a2b8;
	color: #fff;
	text-shadow: none;
}

.a.btn-link{
  text-decoration: none;
}

.get-it {
    background: #4fbfa8;
    color: #fff;
    padding: 50px 0;
}

.btn-template-outlined-white:hover, .btn-template-outlined-white:focus {
    background: #fff;
    color: #4fbfa8 !important;
}

.card-header.py-3.text-bg-primary.border-primary {
  background: cornflowerblue;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
 .h1 {
   font-size: 10px;
 }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
.h1 {
  font-size: 10px;
}
h1.pt-5{
  font-size: 10px;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
